@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d3d3d3;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #c1c1c1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ::-webkit-scrollbar:vertical {
  display: none;
} */
::-webkit-scrollbar:horizontal {
  display: none;
}

.descriptionOn {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.graphBox {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
